
@media (max-width:576px) /*tamaño pequeño */
{
	aside
	{
	display:none;
	}

	#tablaSugerido
	{
		display:none;
	}

	article
	{
		margin: 1%;
		display:flex;
		justify-content:start;
		border:solid 5px black;
		-webkit-border-radius:10px;
		background-color:rgba(255, 255, 255, 0.8);
		font-size:15px;	
	}
	article img
	{
		-webkit-border-radius:10px 0px 0px 10px;
		width:150px;
		height:auto;
	}
}

@media (min-width:577px) /*Tamaño mediano */
{
	
	#tablaSugerido
	{
		display:none;
	}
	aside
	{
		display:none;
	}
	article
	{
		margin: 1%;
		display:flex;
		justify-content:start;
		border:solid 5px black;
		-webkit-border-radius:10px;
		background-color:rgba(255, 255, 255, 0.8);
		font-size:15px;
	}
	article img
	{
		-webkit-border-radius:10px 0px 0px 10px;
		width:150px;
		height:auto;
	}
	
}
@media screen and (min-width:992px) /*tamaño grande*/
{
	#tablaSugerido
	{
		display:block;
		background-image:url(../imagenes/fondoLaterales.jpg);
		border-radius:5px;
		padding:0% 1% 0% 1%;
		margin-bottom:5%;
		font-family:gothic;
		border: solid 1px black;
		font-size:30px;

	}
	#main
	{
		display:flex;
		justify-content:space-evenly;

	}
	section
	{
		width:70%;
	}
	aside
	{
		margin-right:2%;
		margin-bottom:5%;
		
		display:block;
		justify-content:center;
		background-image:url(../imagenes/fondoLaterales.jpg);
		border-radius:3px;
		border:solid 1px black;
		width:15%;
		font-size:25px;
		font-family:gothic;
		text-align:center;
		align-items:center;
	}
	article
	{
		
		display:flex;
		justify-content:start;
		border:solid 5px black;
		-webkit-border-radius:10px;
		background-color:rgba(255, 255, 255, 0.8);
		font-size:15px;
		
	}
	article img
	{
		-webkit-border-radius:10px 0px 0px 10px;
		width:150px;
		height:auto;
	}
	
	
}
