
@media (max-width:576px) /*tamaño pequeño */
{
	aside
	{
		display:none;
	}
	form
	{
		display:flex;
		justify-content:space-between;
		flex-direction:column;
		margin:5% 10% 10% 5%;
	}
	.labels
	{
		background-color:rgba(12, 65, 180, 0.856);
		color:white;
		padding:1%;
		
	}
	.inputs
	{
	padding:1%;
	}
	.select:nth-child(1)
	{
		font-size:15px;
	}
	.select:nth-child(2)
	{	
		font-size:15px;
	}
	.select:nth-child(3)
	{
		font-size:15px;
	}
	.select:nth-child(4)
	{	
		font-size:15px;
	}
	
	.submit
	{
	margin:1%;
	padding:1%;
	justify-content:center;
	max-width:20%;
	}
	form p /*la letra ó*/
	{
		width:10%;
		display:flex;
		justify-content:center;
		margin:2%;
		color:black;
		background-color:white;
		-webkit-border-radius:10px;
		font-size:20px;
		
	}
	.mailto /*El botón de contactar por correo*/
	{	display:flex;
		justify-content:center;
		text-decoration:none;
		font-family:arial;
		font-size:20px;
		-webkit-border-radius:10px;
		border:solid 2px black;
		-webkit-box-shadow: black 4px 4px 10px;
		padding:5% 0% 5% 0%;
		margin:5% 5% 5% 0%;
		background:-webkit-linear-gradient(top,rgba(24, 3, 145, 0.877),rgba(181, 176, 211, 0.877));
		color:white;
		font-weight:bold;
		

	}
	
}
@media (min-width:577px) /*Tamaño mediano */
{
	aside
	{
		display:none;
	}
	form
	{
		display:flex;
		justify-content:space-between;
		flex-direction:column;
		margin:5% 10% 10% 5%;
	}
	.labels
	{
		background-color:rgba(12, 65, 180, 0.856);
		color:white;
		padding:1%;
		
	}
	.inputs
	{
		padding:1%;
	
	}
	
	.select:nth-child(1)
	{
		font-size:15px;
	}
	.select:nth-child(2)
	{	
		font-size:15px;
	}
	.select:nth-child(3)
	{
		font-size:15px;
	}
	.select:nth-child(4)
	{	
		font-size:15px;
	}
	
	.submit
	{
		margin:1%;
		padding:1%;
		justify-content:center;
		max-width:20%;
	}
	form p /*la letra ó*/
	{
		width:10%;
		display:flex;
		justify-content:center;
		margin:2%;
		color:black;
		background-color:white;
		-webkit-border-radius:10px;
		font-size:20px;
		
	}
	.mailto /*El botón de contacar por correo*/
	{	display:flex;
		justify-content:center;
		text-decoration:none;
		font-family:arial;
		font-size:20px;
		-webkit-border-radius:10px;
		border:solid 2px black;
		-webkit-box-shadow: black 4px 4px 10px;
		padding:5% 0% 5% 0%;
		margin:5% 5% 5% 0%;
		background:-webkit-linear-gradient(top,rgba(24, 3, 145, 0.877),rgba(181, 176, 211, 0.877));
		color:white;
		font-weight:bold;
	}
}
@media screen and (min-width:992px) /*tamaño grande*/
{
	
	section
	{
		display:flex;
	}
	aside
	{
		margin-right:2%;
		margin-bottom:10%;
		
		display:block;
		justify-content:center;
		background-image:url(../imagenes/fondoLaterales.jpg);
		border-radius:3px;
		border:dashed 1px black;
		width:20%;
		font-size:25px;
		font-family:gothic;
		text-align:center;
		align-items:center;
	}
	form
	{	
		flex-direction:column;
		margin:5% 5% 5% 5%;
		width:80%;
	}
}