*
{
    margin: 0px;
    padding:0px;
	
}
@font-face
{
	font-family:gothic;
	src:url('../fuentes/gothic.ttf');
	
}
@font-face
{
	font-family:Crusades;
	src:url('../fuentes/Crusades.ttf');
}
html
{
	background-image: url(../imagenes/fondo3.png);
	background-size:auto;
}

@media (max-width:576px) /*tamaño pequeño */
{

	header 
	{
	background-color:rgba(12, 3, 94, 0.9);
	font-family:gothic;
	color:white;
	border:outset 8px grey;
	display:flex;
	justify-content:space-around;
	align-items:center;

	}
	header img 
	{
		width:100px;
		height:100px;
	}
	#truth
	{
		margin:0.5%;
		font-size:20px;
		padding:1px;
		border:solid black 1px;
		background-color:white;
		border-radius:5px;
	}
	#tituloViewPortPeq
	{
	font-size:3em;
	}
	h1
	{
	display:none;
	}

	nav
	{
	display:none;
	
	}
	.icon
	{
		margin:1px;
		-webkit-border-radius:5px;
		padding:5px;
		width:15px;
		height:18px;
		background-color:rgba(12, 3, 94, 0.85);
		color:white;
		display:block;
	}
	
	#buscador
	{
		margin:1%;
	}
	#buscador  img
	{
		width:15px;
		height:10px;
	}
	#buscador input
	{
		-webkit-border-radius:10px;
	}
	
	#pie
	{
		background-color:rgba(29, 2, 150, 0.9);
		color:white;
	}
	#pie p
	{
		display:flex;
		
	}
	#contacto
	{
		color:white;
		background-color:black;
		border:dotted  1px  white ;
		text-decoration:none;
		border-radius:5px;
		font-style:oblique;
	}
	/*hovers y animaciones*/
	header h2:hover
	{
		transform:scale(1.1);
		text-shadow:white 5px 5px 5px;
		transition:transform 0.5s linear 0s,text-shadow 0.5s linear 0s;
	}
	header img:hover
	{
		-webkit-transform:rotate(360deg) scale(1.3);
		-webkit-transition:transform 0.8s linear 0s; 
		-moz-transform:rotate(360deg) scale(1.3);
		-moz-transition:transform 0.8s linear 0s; 

	}
	#pie img:hover
	{
		-webkit-transform:scale(2.0);
		-webkit-transition:-webkit-transform 0.5s linear 0s;
	}
	#contacto:hover
	{
		background-color:white;
		color:black;
		border:dotted 1px black;
		transition:color 0.5s linear 0s,background-color 0.5s linear 0s,border 0.5s linear 0s;
	}
	


}
@media (min-width:577px) /*Tamaño mediano */
{
	header 
	{
	background-color:rgba(12, 3, 94, 0.9);
	color:white;
	font-family:gothic;
	font-size:1.5em;
	border:outset 8px grey;
	display:flex;
	justify-content:space-around;
	align-items:center;

	}
	header img 
	{
		
		width:150px;
		height:150px;
		margin-right:3%;
		margin-left:3%;
	}
	#truth
	{
		margin:0.5%;
		font-size:20px;
		padding:1px;
		border:solid black 1px;
		background-color:white;
		border-radius:5px;
	}
	#tituloViewPortPeq
	{
	display:none;
	}
	h1
	{
	display:block;
	}
	
	#buscador
	{
		margin:0.5%;
	}
	#buscador  img
	{
		width:15px;
		height:10px;
	}
	#buscador input
	{
		-webkit-border-radius:10px;
	}
	nav
	{
	display:flex;
	justify-content:space-around;
	font-family:Crusades;
	font-size:1.5em;
	margin-bottom:1em;
	
	}
	nav a
	{
		padding:1px 20px 1px 20px;
		background:-webkit-radial-gradient(center,ellipse,rgb(214, 224, 248) 20%,rgb(112, 112, 136) 90%);
		border: solid 2px rgb(44, 45, 99);
		color:black;
		-webkit-box-shadow: black 2px 2px 5px;
		text-shadow:black 1px 1px 8px;
		-webkit-border-radius:10px 10px 10px 10px;
		text-decoration:none;
	}
	.icon
	{
		display:none;
	}
	#pie
	{
		background-color:rgba(29, 2, 150, 0.9);
		color:white;
	}
	#pie p
	{
		display:flex;
		
	}
	#contacto
	{
		color:white;
		background-color:black;
		border:dotted  1px  white ;
		text-decoration:none;
		border-radius:5px;
		font-style:oblique;
	}
	/*hovers y animaciones*/
	header h1:hover
	{
		transform:scale(1.1);
		text-shadow:white 5px 5px 5px;
		transition:transform 0.5s linear 0s,text-shadow 0.5s linear 0s;
	}
	header img:hover
	{
		-webkit-transform:rotate(360deg) scale(1.3);
		-webkit-transition:transform 0.8s linear 0s; 
		-moz-transform:rotate(360deg) scale(1.3);
		-moz-transition:transform 0.8s linear 0s; 

	}
	nav a:hover
	{
		-webkit-transform:scale(1.3);
		-moz-transform:scale(1.3);
		color:white;
		-webkit-transition:-webkit-transform 0.3s linear 0s, color 0.3s linear 0s;
		-moz-transition:-moz-transform 0.2s linear 0s;
	}
	
	#pie img:hover
	{
		-webkit-transform:scale(2.0);
		-webkit-transition:-webkit-transform 0.5s linear 0s;
	}
	#contacto:hover
	{
		background-color:white;
		color:black;
		border:dotted 1px black;
		transition:color 0.5s linear 0s,background-color 0.5s linear 0s,border 0.5s linear 0s;
	}
	
}
@media screen and (min-width:992px) /*tamaño grande*/
{
	header 
	{
	background-color:rgba(12, 3, 94, 0.9);
	color:white;
	font-family:gothic;
	font-size:1.5em;
	border:outset 8px grey;
	display:flex;
	justify-content:space-around;
	align-items:center;
	

	}
	header img 
	{
		
		width:150px;
		height:150px;
		margin-right:3%;
		margin-left:3%;
	}
	#truth
	{
		margin:0.5%;
		font-size:20px;
		padding:1px;
		border:solid black 1px;
		background-color:white;
		border-radius:5px;
	}
	#tituloViewPortPeq
	{
	display:none;
	}

	h1
	{
	display:block;
	}
	#buscador
	{
		margin:0.5%;
	}
	#buscador  img
	{
		width:15px;
		height:10px;
	}
	#buscador input
	{
		-webkit-border-radius:10px;
	}
	nav
	{
		display:flex;
		flex-wrap:wrap;
		margin-top:2%;
		font-family:Crusades;
		font-size:2em;
	
	}
	nav a
	{
		margin:1%;
		padding:35px 110px 35px 110px;	
	}
	#inicioNav
	{
		background-image:url(../imagenes/ropera.jpg);
		background-size:280px;
		background-position: right;
		background-repeat:no-repeat;
		border: solid 2px rgb(44, 45, 99);
		color:black;
		-webkit-box-shadow: black 2px 2px 5px;
		text-shadow:white 1px 1px 8px;
		-webkit-border-radius:10px 10px 10px 10px;
		text-decoration:none;

	}
	#eventosNav
	{
		background-image:url(../imagenes/eventos.jpg);
		background-size:350px;
		background-position:center;
		background-repeat:no-repeat;
		border: solid 2px rgb(44, 45, 99);
		color:white;
		-webkit-box-shadow: black 2px 2px 5px;
		text-shadow:black 1px 1px 8px;
		-webkit-border-radius:10px 10px 10px 10px;
		text-decoration:none;
	}
	#historiaNav
	{
		background-image:url(../imagenes/historia.jpg);
		background-size:300px;
		background-position:center;
		background-repeat:no-repeat;
		border: solid 2px rgb(44, 45, 99);
		color:black;
		-webkit-box-shadow: black 2px 2px 5px;
		text-shadow:white 1px 1px 8px;
		-webkit-border-radius:10px 10px 10px 10px;
		text-decoration:none;
	}
	
	#equipacionNav
	{
		background-image:url(../imagenes/equipacion.jpg);
		background-size:330px;
		background-position:center;
		background-repeat:no-repeat;
		border: solid 2px rgb(44, 45, 99);
		color:black;
		-webkit-box-shadow: black 2px 2px 5px;
		text-shadow:white 1px 1px 8px;
		-webkit-border-radius:10px 10px 10px 10px;
		text-decoration:none;
	}
	#tiendaNav
	{
		background-image:url(../imagenes/tienda.jpg);
		background-size:300px;
		background-position:center;
		background-repeat:no-repeat;
		border: solid 2px rgb(44, 45, 99);
		color:white;
		-webkit-box-shadow: black 2px 2px 5px;
		text-shadow:black 1px 1px 8px;
		-webkit-border-radius:10px 10px 10px 10px;
		text-decoration:none;
	}
	.icon
	{
		display:none;
	}
	#pie
	{
		
		display:flex;
		justify-content: space-between;
		padding:10px;
		background-color:rgba(29, 2, 150, 0.9);
		color:white;
	}
	#contacto
	{
		color:white;
		background-color:black;
		border:dotted  1px  white ;
		text-decoration:none;
		border-radius:5px;
		font-style:oblique;
	}
	/*hovers y animaciones*/
	header img:hover
	{
		-webkit-transform:rotate(360deg) scale(1.3);
		-webkit-transition:-webkit-transform 0.8s linear 0s; 
		-moz-transform:rotate(360deg) scale(1.3);
		-moz-transition:transform 0.8s linear 0s; 

	}
	header h1:hover
	{
		transform:scale(1.1);
		text-shadow:white 5px 5px 5px;
		transition:transform 0.5s linear 0s,text-shadow 0.5s linear 0s;
	}
	#truth:hover
	{
		margin:0.5%;
		font-size:20px;
		padding:1px;
		border:solid white 1px;
		background-color:black;
		color:white;
		border-radius:5px;
	}
	#inicioNav:hover
	{
		-webkit-transform:scale(1.3);
		-moz-transform:scale(1.3);
		color:white;
		text-shadow:black 2px 2px 20px;
		-webkit-transition:-webkit-transform 0.3s linear 0s, color 0.3s linear 0s, text-shadow 0.3s linear 0s;
		-moz-transition:-moz-transform 0.2s linear 0s;
	}
	#eventosNav:hover
	{
		-webkit-transform:scale(1.3);
		-moz-transform:scale(1.3);
		color:white;
		text-shadow:white 2px 2px 20px;
		-webkit-transition:-webkit-transform 0.3s linear 0s, color 0.3s linear 0s, text-shadow 0.3s linear 0s;
		-moz-transition:-moz-transform 0.2s linear 0s;
	}
	#historiaNav:hover
	{
		-webkit-transform:scale(1.3);
		-moz-transform:scale(1.3);
		color:white;
		text-shadow:black 2px 2px 20px;
		-webkit-transition:-webkit-transform 0.3s linear 0s, color 0.3s linear 0s, text-shadow 0.3s linear 0s;
		-moz-transition:-moz-transform 0.2s linear 0s;
	}
	#equipacionNav:hover
	{
		-webkit-transform:scale(1.3);
		-moz-transform:scale(1.3);
		color:white;
		text-shadow:black 2px 2px 20px;
		-webkit-transition:-webkit-transform 0.3s linear 0s, color 0.3s linear 0s, text-shadow 0.3s linear 0s;
		-moz-transition:-moz-transform 0.2s linear 0s;
	}
	#tiendaNav:hover
	{
		-webkit-transform:scale(1.3);
		-moz-transform:scale(1.3);
		color:white;
		text-shadow:white 2px 2px 20px;
		-webkit-transition:-webkit-transform 0.3s linear 0s, color 0.3s linear 0s, text-shadow 0.3s linear 0s;
		-moz-transition:-moz-transform 0.2s linear 0s;
	}
	
	#contacto:hover
	{
		background-color:white;
		color:black;
		border:dotted 1px black;
		transition:color 0.5s linear 0s,background-color 0.5s linear 0s,border 0.5s linear 0s;
	}
	#pie img:hover
	{
		-webkit-transform:scale(2.0);
		-webkit-transition:-webkit-transform 0.5s linear 0s;
	}

}
