@media (max-width:576px) /*tamaño pequeño */
{
	
	aside
	{
	display:none;
	}

	#tablaSugerido
	{
		display:none;
	}
	section
	{
		margin:2%;
		background-color:lightgray;
		border-radius:10px;
	}
	li
	{
		list-style:none;
	}
	section h2
	{
		margin:2%;
		font-size:40px;
		font-family:crusades;
	}
	article
	{
		margin:3%;
		display:flex;
		flex-direction:column;
	}
	article img
	{
		border:solid 2px black;
		border-radius:10px;
		width:100%;
		max-width:300px;
	}
	article h4
	{
		font-family:gothic;
		font-size:30px;
	}
	video
	{
		background-color:black;
		width:100%;
		border-radius:20px;
	}

}
@media (min-width:577px) /*Tamaño mediano */
{
	#tablaSugerido
	{
		display:none;
	}
	aside
	{
		display:none;
	}
	section
	{
		margin:2%;
		background-color:lightgray;
		border-radius:10px;
	}
	li
	{
		list-style:none;
	}
	section h2
	{
		margin:2%;
		font-size:40px;
		font-family:crusades;
	}
	
	article
	{
		display:flex;
		flex-direction:column;
		margin:3%;
		
	}
	.gruposDe2 /*Imágenes agrupdaas en divs de 2 en dos para que aparezcan en horizontal*/
	{
		display:flex;
		flex-wrap:wrap;
	}
	figure
	{
		margin-left:5%;
	}
	article div
	{
		margin:1%;
	}
	article img
	{

		border:solid 2px black;
		border-radius:10px;
		max-width:300px;
		
	}
	article h4
	{
		font-family:gothic;
		font-size:30px;
	}
	video
	{
		background-color:black;
		width:100%;
		border-radius:20px;
	}
	/*hovers y animaciones*/
	article img:hover
	{
		-webkit-transform:scale(1.2) ;
		-webkit-transition:-webkit-transform 0.5s linear 0s;
		-moz-transform:scale(1.2) ;
		-moz-transition:-moz-transform 0.5s linear 0s;
	}

}
@media screen and (min-width:992px) /*tamaño grande*/
{
	section h2
	{
		margin:2%;
		font-size:40px;
		font-family:crusades;
	}
	article
	{	
		margin:3%;	
		display:flex;
		flex-direction:column;
	}
	.gruposDe2  /*Imágenes agrupdaas en divs de 2 en dos para que aparezcan en horizontal*/
	{
		display:flex;
		flex-wrap:wrap;
	}
	article div
	{
		margin:1%;
	}
	article img
	{
		border:solid 2px black;
		border-radius:10px;
		max-height:300px;
		max-width:500px;
		
	}
	figure
	{
		margin-left:5%;
	}
	article h4
	{
		font-family:gothic;
		font-size:30px;
	}
	video
	{
		background-color:black;
		width:100%;
		border-radius:20px;
		max-width:800px;
	}
	article img:hover
	{
		-webkit-transform:scale(1.2) ;
		-webkit-transition:-webkit-transform 0.5s linear 0s;
		-moz-transform:scale(1.2) ;
		-moz-transition:-moz-transform 0.5s linear 0s;
	}
}
